.flex {
  display: flex;
}

.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  width: 95%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d2d2d2;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar_img {
  width: 50px;
  height: 50px;
}

.navlinks {
  list-style: none;
  display: flex;
  margin-right: 4rem;
  width: 25%;
  justify-content: center;
}

.links,
.profilelinks {
  text-decoration: none;
  color: #1680fe;
  padding-inline: 1.2rem;
}
